<div class="centrar">
<h1>Login</h1>
<p>Ingrese sus datos:</p>
<form action="auth/login" method="post">
  <p>Usuario:</p>
    <input type="text" name="usuario">
    <br>
  <p>Password:</p>
    <input type="text" name="password">
    <br>
    <p></p>
    <input type="submit" value="Submit">
</form>
</div>
