<div class="centrar">
  <img src="images/pokemon.png" height="200px" width="300px">

<p>Ingrese sus datos:</p>

<form action="Pokemons/guardarPokemon" enctype="multipart/form-data" method="post" >
  <p>Nombre:</p>
  <input type="text" name="pokemon">
  <br>
  <p>Foto:</p>
    <input type="file" name="fotoPokemon" class="alinearBoton">
    <p></p>
    <input type="submit" value="Submit">
  <br>

</form>
</div>
